.contactSection {
    background-color: #00000050;
    padding-top: 2em;
    padding-bottom: 2em;
}
h4 {
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-weight: 700;
    font-size: 1em;
    margin-bottom: 2.5em;
    
}
.contactBox {
    border-bottom: 1px solid grey;
    padding-bottom: 1em;
}
.contactBox:hover {
    border-bottom: 1px solid grey;
    background-color: #00000015;
}
.contactSubheader {
    text-transform: uppercase;

}
.fadeUp {
    animation: fadeUp 1s ease-in forwards;
}
.fadeUpLast {
    animation: fadeUp 1.2s ease-in forwards;
}
@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(300px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.contactH1 {
    color: #D8E8E1;
    margin-bottom: 0;
}
.contactSub {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.8em;
    color: white;
}
.contactFormContent {
    width: 80%;
    color: white;
}
.contactFormContent {
    box-shadow: 1px 5px 15px 5px grey;
    border-radius: 4px;
}
.contactFormInput {
    background-color: #a3a2a1;
    border: none;
    border-bottom: 1px solid lightgrey;
    border-radius: 1px;
    font-size: 0.8rem;
    color: white;
}
.contactFormInput:focus {
    background-color: #a3a2a1;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid lightgrey;
    box-shadow: 3px 5px 1px 1px #D8E8E1;
    cursor: pointer;

}
.contactFormInput:hover {
    cursor: pointer;
}
label {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}
.contactBtn {
    padding: 0.5rem 2.5rem 0.5rem 2.5rem;
    background-color: #a3a2a1;
    border: 1px solid lightgrey;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}
.contactBtn:hover {
    border: 1px solid #D8E8E1;
    color: #D8E8E1;
    background-color: #a3a2a1;
    box-shadow: 3px 5px 1px 1px #D8E8E1;
}
.form-control {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.mediaButton {
    padding: 0.3rem 1.2rem 0.3rem 1.2rem;
    letter-spacing: 0.3rem;
    background-color: #a3a2a1;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
}
.mediaButton:hover {
    box-shadow: 3px 5px 1px 1px #D8E8E1;
    transition: 0.3s;
}
.mediaIcon {
    color: white;
    height: 2rem;
}
.individualMediaBox {
    border-bottom: 1px solid white;
    padding-bottom: 1rem;
}