header {
    border-right: 1px solid grey;
    /* border: 1px solid red; */
}
.row, header section {
    margin-top: 7em;
    margin-bottom: 7em;
}
.fadeRight {
    animation: fadeRight 1.2s ease-in forwards;
}

.fadeRightSecond {
    animation: fadeRight 1s ease-in forwards;
}
.headerContainer {
    /* height: 50%; */
    /* border: 1px solid red; */
}
.subheaderDescription {
    text-transform: uppercase;
}
.landingButton {
    padding: 0.5em 3em 0.5em 3em;
    color: black;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 0.9rem;
}
.headerContent {
    /* border: 1px solid black; */
}
.buttonContainer {
    width: 60%;
    /* border: 1px solid purple; */
}
h1 {
    font-size: 5rem;
    letter-spacing: 0.1em;
    font-weight: 700;
    text-transform: uppercase;
}
h2 {
    font-size: 3.5rem;
    color: #b8c7c2;
    text-transform: uppercase;
    font-weight: 200;
}
a .socialMediaIcon {
    text-decoration: none;
    font-size: 2em;
    color: black;
}
@keyframes fadeRight {
    0% {
        opacity: 0;
        transform: translateX(-300px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeRightSecond {
    0% {
        opacity: 0;
        transform: translateX(-300px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}