/* HEX COLOR CODES
#2a2928
#956d34
#b58b47
#443c2c
#5f4d2c
#b7b7b7 */
nav {
    border-bottom: 1px solid #b7b7b7;
    font-size: 1rem;
    letter-spacing: 0.2em;
    font-weight: 700;
    text-transform: uppercase;
    background-color: 
    #edecea;
    box-shadow: grey 1px 1px 8px;
}
nav ul li {
    color: #b7b7b7;
    border-right: 1px solid lightgrey;
}
nav ul li:nth-child(3) {
    border-right: none;
}
.logo {
    height: 30px;
}
@keyframes fadeDown {
    0% {
        opacity: 0;
        transform: translateY(-40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}