.contentSection {
    background-color: #00000050;
    padding-top: 2em;
    padding-bottom: 2em;
}
h4 {
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-weight: 700;
    font-size: 1em;
    margin-bottom: 2.5em;
    color: #b8c7c2;
    
}
.educationBox {
    border-bottom: 1px solid grey;
    padding-bottom: 1em;
}
.educationBox:hover {
    border-bottom: 1px solid grey;
    background-color: #00000015;
}
.educationSubheader {
    text-transform: uppercase;

}
.fadeUp {
    animation: fadeUp 1s ease-in forwards;
}
@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(300px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}